{% extends "base.html" %}

{% block title %}Perfil de fakebook{% endblock title %}

{% block content %}

        <header>
            <nav class="nav_fake">
                <a href="#" class="enlace">Inicio</a>
                <a href="#" class="enlace">Mi perfil</a>
                <a href="#" class="enlace">Noticias</a>
                <a href="#" class="enlace">Fotos</a>
            </nav>
        </header>

        <h1>FAKEBOOK</h1>

        <center>
            <h2 id="nombre">Jesus Fernandez<br></h2>
            <img class="pequena" src="../static/img/goku.jpg"/>
            <button class="boton1">Añadir amigo</button>

            <p><strong>Ciudad:</strong>Malaga</p>
            <p><strong>Edad:</strong>32</p>
            <p><strong>Estudios:</strong>Telecomunicaciones</p>
            <p><strong>Aficiones:</strong>Desarollo web</p>
            <p><strong>Amigos:</strong>108</p>
            <label>Encuentra tus amigos en Fakebook:</label> <input type="text" placeholder="Buscar por nombre">
            <hr/>
            <footer> Copyright perteneciente a Jesus Fernandez</footer>
        </center>

</html>
{% endblock content %}


