{% extends "base.html" %}

{% block title %}Inicia sesion{% endblock title %}

{% block content %}
    <div class="principal">

        <div class="titulo">
            <div id="b" class="alineado">
                <strong>B</strong>
            </div>
            <div id="o" class="alineado">
                <strong>o</strong>
            </div>
            <div id="oo" class="alineado">
                <strong>o</strong>
            </div>
            <div id="g" class="alineado">
                <strong>g</strong>
            </div>
            <div id="l" class="alineado">
                <strong>l</strong>
            </div>
            <div id="e" class="alineado">
                <strong>e</strong>
            </div>
        </div>

        <div class="titulo2">
            Iniciar sesion
        </div>

        <div class="contenedor-nombre">
            <div>
                <img class="logo" src="../static/img/boogle.jpg.png" alt="" width="20" height="20">
            </div>
            <div class="nombre">
            jesus@gmail.com
            </div>
        </div>

        <div class="verificacion">
            Debes verificar tu identidad para poder continuar:
        </div>

        <div >
             <input class="contrasena" type="password" placeholder="introduce tu contraseña">
        </div>

        <div>
            Otras formas de iniciar sesion: <button class="boton2">Siguiente</button>
        </div>
     </div>

    <footer class="pie">
        <a class="pie2" href="#">Ayuda</a>
        <a class="pie2" href="#">Privacidad</a>
        <a class="pie2" href="#">Terminos</a>
     </footer>

</html>
{% endblock content %}

